.div
{
  background-color: rgb(168, 59, 103);  
  border-radius: 5px;
  border-color: red;
  color: brown;
}
.button
{
  background-color: rgb(168, 59, 103);  
  border-radius: 5px;
  border-color: red;
  color: brown;
}